h1{
	text-align:center;
}

body{
	background: url(endurance.jpg);
	background-attachment: fixed;
	color:#FF0040;
	background-size: cover; 
  	text-align:center;
}

.progress{
	margin-bottom: 30px;
	height: 50px;
}