.mesforms { 
  margin:0;
  padding:0; 
  background-size: cover; 
  text-align:center;
}

body{
	background: url(endurance.jpg);
	background-attachment: fixed;
	color:#FF0040;
}


.text-vertical-center{
  text-align: center;
  margin: auto;
  }
  


.btn{
  text-align: center;
  
}