#calculatrice-text {
-fx-font-size: 70px;
-fx-font-family: "Apple Chancery";
-fx-fill: black;
-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2);
}

.label {
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-text-fill: black;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
-fx-text-fill: black;
-fx-font-family: "Arial Narrow";
-fx-font-weight: bold;
-fx-background-color: linear-gradient(#0080FF, #0080FF);
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

.button:hover{
	-fx-background-color: linear-gradient(#87CEEB, #87CEEB);
	
}

#Addition{
	-fx-alignment: BOTTOM_CENTER;
}

#Soustraction{
	-fx-alignment: BOTTOM_CENTER;
}

#Multiplication{
	-fx-alignment: BOTTOM_CENTER;
}

#Division{
	-fx-alignment: BOTTOM_CENTER;
}

.root {
	-fx-background-color: #7B68EE;
	-fx-alignment: CENTER;
}


#grid1{
	-fx-alignment: TOP_CENTER;
}

#grid2{
	-fx-alignment: CENTER;
}

#Rectangle {
	-fx-alignment: center; 
	-fx-border-color: black;
	-fx-text-fill: black;
	-fx-alignment: CENTER;
}
