.maBaliseHTML{ 
	color: #3CB371; 
}


.maClasse{ 
	color: #6495ED;
	font-size : 1em;
}

body{
	font-family: palatino;
	font-size: 18px;
	margin-top : 10%;
	margin-right: 30%;
	margin-left: 30%;
	color:black;

}
body:hover{
	color:white;
	text-decoration:none; 
	background-image:url(starwars.jpg); 
	background-repeat:no-repeat;
}


p{
	margin-top : 15%;
}

ul li{
	display: none;
	color: #8470FF;
}
ul:hover li { 
	display:block; 
	position:relative; 
	top:0;
	left:-25px;
}

#wiwi{
	color: #6495ED;
	font-family: geneva;
}

nav {
	color: #6495ED;
	padding: 0;
	margin: 0;
}




